{% extends 'AgroChemical/layout.html' %}
{% block title %} О Нас {% endblock %}
{% load static %}
{% block content %}

            <div class="row gx-4 gx-lg-5">
            <div class="container px-4 px-lg-5 about">
                <h2>Наша история</h2>
                <img src="{% static 'AgroChemical/img/pervoe_zdanie.jpg'%}" class="float-start imgshadow" alt="">
                <p >Постановлением Совета министров СССР от 9 апреля 1964 года № 139 «Об организации государственной агрохимической службы в сельском хозяйстве»
                    была создана Абаканская Зональная агрохимическая лаборатория Красноярского края, которая обслуживала 8 административных районов Хакасии и 7 районов
                    южной части правобережья Красноярского края с общей территорией 2851 тысяч га сельскохозяйственных угодий, в т.ч. 1328,3 тысяч га пашни.
                    В 1983 г. Зональная лаборатория была преобразована в Абаканский филиал Красноярской проектно-изыскательской станции химизации сельского хозяйства.
                    В 1989 г. Абаканский филиал Красноярской проектно-изыскательской станции химизации сельского хозяйства стал называться Хакасской областной проектно-изыскательской станцией химизации сельского хозяйства с обслуживанием территорий сельскохозяйственных угодий 1460 тыс. га, в т.ч. пашни 675 тыс. га.
                    В 1994 г. переименована в Проектно-изыскательскую станцию агрохимической службы «Хакасская».
                    В 1995 г. Федеральное государственное учреждение Государственная станция агрохимической службы «Хакасская» (ФГУ ГСАС «Хакасская»).
                    В 2012 г. ФГБУ Государственная станция агрохимической службы «Хакасская» (ФГБУ ГСАС «Хакасская»).</p>
                <img src="{% static 'AgroChemical/img/lab1.jpg'%}" class="float-start imgshadow" alt="">
                <p>Агроэкологический мониторинг осуществляется методом систематического крупномасштабного почвенно-агрохимического обследования естественных агроландшафтов, реперных агроэкологических участков,
                                    проведения научных полевых опытов с удобрениями, мелиорантами, микроэлементами,
                                    тяжёлыми металлами и другими токсическими веществами. Мониторинг сопровождается большим
                                    разнообразием и объёмом химических анализов и измерений исследуемых объектов.

                                    На основании данных исследований служба разрабатывает для сельскохозяйственных
                                    предприятий и учреждений рекомендации по
                                    вопросам агрохимии земледелия, кормопроизводства, овощеводства открытого и защищённого
                                    грунта, садоводства; обеспечивает руководителей, специалистов сельского хозяйства,
                                    фермеров и других сельхозпроизводителей различной нормативной и картографической
                                    документацией и проводит бесплатную консультативную работу с ними. Служба постоянно
                                    следит за объёмами закупок удобрений, других химических средств,
                                    за их соответствием нормативной документации.</p>
                <p>Государственная станция оказывает услуги Хакасскому государственному университету им. Н.Ф. Катанова (ХГУ),
                    НИИ аграрных проблем Хакасии и другим учреждениям по
                    различным вопросам агрохимии, экологии, токсикологии различных сред; учебной практики студентов.</p>
                <img src="{% static 'AgroChemical/img/lab2.jpg'%}" class="float-start imgshadow" alt="">
                <p>За годы деятельности агрохимической службы проведено 7 циклов (туров) агрохимического обследования почв
                    сельскохозяйственных угодий, исследовано 26 млн. тонн кормов. Разработаны и внедрены в производство
                    рекомендации по улучшению технологии заготовки и приготовления кормов. Проведено 635 полевых опытов
                    с минеральными удобрениями, гумусосодержащими суспензиями, фосфоритной мукой, гипсосодержащими материалами,
                    сидератами (зелёными удобрениями), органоминеральными углесодержащими, фосфоритосодержащими удобрительными комплексами,
                    микроэлементами, тяжёлыми металлами и др.
                    Выполнены тысячи проектов по внесению удобрений, проведению химической мелиорации.</p>
            </div>
            </div>
{% endblock %}