{% extends 'AgroChemical/layout.html' %}
{% block title %} Анализ удобрений {% endblock %}
{% load static %}
{% block content %}

            <div class="row gx-4 gx-lg-5">
                <div class="container px-4 px-lg-5 about">

                    <h3>Анализ Удобрений</h3>

                    <p>
                        Ежегодно с урожаем из почвы выносится большое количество питательных веществ.
                        Нехватку питательных веществ в почве восполняют внесением удобрений.
                        Удобрения играют важную роль в питании растений, они непосредственно воздействуют на режим питания,
                        улучшают свойства почвы, в них содержится много питательных веществ в доступной для растений форме.
                        Наша лаборатория позволяет проводить качественный анализ удобрений, определить их состав
                        и безопасность использования.
                    </p>

                    <p>Удобрения минеральные</p>

                    <ul>

                        <li>- Массовая доля воды</li>
                        <li>- Массовая доля азота, общего азота, нитратного азота</li>
                        <li>- Массовая доля свободного аммиака</li>
                        <li>- Гранулометрический состав</li>
                        <li>- Кислотность</li>
                        <li>- Массовая доля калия</li>
                        <li>- Массовая доля веществ, нерастворимых в воде</li>
                        <li>- Рассыпчатость</li>
                        <li>- Массовая доля свободной серной кислоты</li>
                        <li>- Массовая доля фосфора, общих, усвояемых и водорастворимых фосфатов</li>
                        <li>- Массовая доля свободной кислоты</li>
                        <li>- Массовая доля (медь, цинк, марганец, бор, молибден)</li>
                        <li>- Микроэлементы: кобальт, цинк, молибден, марганец, бор, медь</li>
                    </ul>

                    <p>Удобрения органические</p>

                    <ul>

                        <li>- Массовая доля влаги</li>
                        <li>- рН (солевой суспензии)</li>
                        <li>- Массовая доля золы</li>
                        <li>- Массовая доля органического вещества</li>
                        <li>- Азот общий (Массовая доля общего азота)</li>
                        <li>- Фосфор общий (в пересчёте на Р2О5) (Массовая доля общего фосфора)</li>
                        <li>- Калий общий (в пересчёте на К2О) (Массовая доля общего калия)</li>
                        <li>- Массовая доля аммонийного азота</li>
                        <li>- Нитратный азот</li>
                        <li>- Подвижный фосфор и калий</li>
                        <li>- Массовая доля общей серы (S)</li>
                        <li>- Массовая доля общего железа (Fe2O3)</li>
                        <li>- Массовая доля общего кальция (СаО)</li>
                        <li>- Тяжелые металлы: медь, цинк, свинец, кадмий, никель, ртуть, мышьяк, марганец, кобальт</li>
                        <li>- Радионуклиды:Удельная активность тория-232, радия-226, калия-40, цезия-137, стронция-90</li>

                    </ul>

                    <p>Мелиоранты</p>

                    <ul>

                        <li>- Суммарная массовая доля карбонатов кальция и магния</li>
                        <li>- Массовая доля влаги</li>
                        <li>- Массовая доля веществ, нерастворимых в соляной кислоте (НCl)</li>
                        <li>- Удельная эффективная активность естественных радионуклидов</li>

                    </ul>

                    <p>
                        Расчитываем необходимые дозы внесения удобрений
                        Также проводим отбор проб минеральных, органических удобрений
                        (в т.ч. жидкие, твердые, сапропелевые, торф для
                        сельского хозяйства и продукты переработки торфа)
                    </p>

                </div>
            </div>
{% endblock %}