{% extends 'AgroChemical/layout.html' %}
{% block title %} Анализ воды {% endblock %}
{% load static %}
{% block content %}

            <div class="row gx-4 gx-lg-5">
            <div class="container px-4 px-lg-5 about">

                <h3>Анализ воды</h3>

                <p>Вода является источником жизни и средой обитания для большинства живых организмов на планете.
                    Сегодня на Земле осталось не так много запасов чистой питьевой воды.
                    Поэтому контроль качества воды приобретает особую актуальность.
                    В нашей лаборатории Вы можете сделать общий и сокращенный химический анализ воды любых
                    типов(питьевой, поверхностной, грунтовой, подземной, сточной):</p>

                <p>Вода природная (питьевая и сточная выборочно)</p>

                <ul>

                    <li>- Алюминий</li>
                    <li>- Аммоний ионы</li>
                    <li>- АПАВ</li>
                    <li>- Бор</li>
                    <li>- БПК</li>
                    <li>- Бенз(а)пирен</li>
                    <li>- Ванадий</li>
                    <li>- Водородный показатель (рН)</li>
                    <li>- Взвешенные вещества</li>
                    <li>- Гидрокарбонаты</li>
                    <li>- Жесткость</li>
                    <li>- Железо</li>
                    <li>- Окисляемость перманганатная</li>
                    <li>- Кадмий</li>
                    <li>- Калий</li>
                    <li>- Кальций</li>
                    <li>- Карбонаты</li>
                    <li>- Кобальт</li>
                    <li>- КПАВ</li>
                    <li>- Марганец</li>
                    <li>- Магний</li>
                    <li>- Медь</li>
                    <li>- Молибден</li>
                    <li>- Мутность</li>
                    <li>- Мышьяк</li>
                    <li>- Натрий</li>
                    <li>- Нефтепродукты</li>
                    <li>- Никель</li>
                    <li>- Нитраты</li>
                    <li>- Нитрит-ионы</li>
                    <li>- Полифосфаты, фосфаты</li>
                    <li>- Прозрачность</li>
                    <li>- Растворенный кислород</li>
                    <li>- Ртуть</li>
                    <li>- Свободная и общая щелочность</li>
                    <li>- Свинец</li>
                    <li>- Сульфат-ионы</li>
                    <li>- Сухой остаток</li>
                    <li>- Фенолы</li>
                    <li>- Фосфор общий</li>
                    <li>- Фторид-ион</li>
                    <li>- ХПК</li>
                    <li>- Хлориды</li>
                    <li>- Хром</li>
                    <li>- Хлорорганические пестициды (в питьевой воде)</li>
                    <li>- Цветность</li>
                    <li>- Цианиды</li>
                    <li>- Суммарная удельная альфа-активность радионуклидов</li>
                </ul>

                <p>Атмосферные осадки</p>

                <ul>
                    <li>- Водородный показатель (рН)</li>
                    <li>- Гидрокарбонаты</li>
                    <li>- Кадмий</li>
                    <li>- Калий</li>
                    <li>- Магний</li>
                    <li>- Мышьяк</li>
                    <li>- Натрий</li>
                    <li>- Нитрат- ион</li>
                    <li>- Нитрит-ион</li>
                    <li>- Ртуть</li>
                    <li>- Свинец</li>
                    <li>- Цинк</li>
                    <li>- Удельная электропроводность</li>
                </ul>

                <p>Также проводится отбор проб воды (природной, питьевой, сточной) и атмосферных осадков.</p>


            </div>
            </div>
{% endblock %}