{% extends 'AgroChemical/layout.html' %}
{% block title %} Анализ кормов {% endblock %}
{% load static %}
{% block content %}

            <div class="row gx-4 gx-lg-5">
                <div class="container px-4 px-lg-5 about">
                    <p>Анализ кормов позволяет провести оценку их качества.
                        Наша лаборатория быстро и качественно определит состав кормов и их питательность, проведёт полный
                        зоотехнический анализ. Исследования проводятся по двум направлениям:
                        <ul>
                            <li>- на показатели качества и питательности;</li>
                            <li>- на показатели безопасности.</li>
                        </ul>
                    Корма
                    </p>

                    <ul>

                        <li>- Цвет, запах, структура, ботанический состав
                        <li>- Массовые доли: фосфора, калия, натрия, кальция, лигнина,
                        сырого жира, азота, сырой клетчатки, сырой золы, золы нерастворимой
                        в соляной кислоте, йода, влаги, сухого вещества, сахара, крахмала (легкогидролизуемые углеводы),
                        аммиачного азота, активной кислотности, масляной кислоты, уксусной кислоты, молочной кислоты,
                        вредных и ядовитых растений</li>

                    </ul>

                    <ul>

                        <li>- Каротин</li>
                        <li>- Металломагнитная примесь</li>
                        <li>- Сера</li>
                        <li>- Марганец</li>
                        <li>- Медь</li>
                        <li>- Цинк</li>
                        <li>- Железо</li>
                        <li>- Кобальт</li>
                        <li>- Бор</li>
                        <li>- Нитраты</li>
                        <li>- Нитриты</li>
                        <li>- Кадмий</li>
                        <li>- Свинец</li>
                        <li>- Медь</li>
                        <li>- Цинк</li>
                        <li>- Железо</li>
                        <li>- Мышьяк</li>
                        <li>- Ртуть</li>
                        <li>- Фтор</li>
                        <li>- Бенз(а)пирен</li>
                        <li>- Пестициды: хлорорганические; 2,4 Д и ее соли; ртутьорганические; фосфорорганические</li>
                        <li>- Радионуклиды: Удельная активность: цезия-137, стронция-90</li>
                        <li>- Микотоксины: зеараленон, Т-2 токсин, афлатоксин В1, дезоксиниваленол</li>

                    </ul>
                    <p>
                        В продукции мукомольно-крупяной промышленности прочая, побочная и отходы:
                        кислотность по болтушке;
                        массовые доли сырого протеина, жира и экстрактивных веществ, сырой клетчатки,
                        азота, влаги и летучих веществ, кальция, фосфора, калия, натрия, магния, водорастворимых хлоридов;
                        зараженность вредителями хлебных запасов;
                        активность уреазы)
                        <br>
                        Также проводится отбор проб кормов:
                    </p>
                    <ul>

                        <li>- Кормовые культуры полевого возделывания, продукция кормопроизводства прочая;</li>
                        <li>- Жом сушеный;</li>
                        <li>- Жмыхи и шроты кормовые;</li>
                        <li> - Продукция мукомольно-крупяной промышленности прочая, побочная и отходы</li>

                    </ul>

                </div>
            </div>
{% endblock %}