{% extends 'AgroChemical/layout.html' %}
{% block title %} Анализ почв {% endblock %}
{% load static %}
{% block content %}

            <div class="row gx-4 gx-lg-5">
            <div class="container px-4 px-lg-5 about">
            <h3>Анализ Почв</h3>
                <p>Анализ почвы даёт возможность оценить общее состояние почвенного покрова, определить её химический состав и агроэкологические показатели. Состояние почвы оказывает прямое влияние на качество урожая и безопасность растениеводческой продукции.

В нашей лаборатории Вы можете заказать анализы по следующим показателям:</p>

               <p> Почвы</p>
                <ul>
                <li>- рН (водной, солевой вытяжки)</li>
                <li>- Органическое вещество (гумус)</li>
                <li>- Гидролитическая кислотность</li>
                <li>- Удельная электрическая проводимость</li>
                <li>- Массовая доля плотного остатка (сухого остатка)</li>
                <li>- Сумма поглощенных оснований</li>
                <li>- Емкость катионного обмена</li>
                <li>- Влажность и максимальная гигроскопическая влажность, влажность устойчивого завядания растений</li>
                <li>- Массовая доля золы торфяных и оторфованных горизонтов почв</li>
                <li>- Удельный вес почвы</li>
                <li>- Гранулометрический и микроагрегатный состав</li>
                <li>- Нитратный и общий азот</li>
                <li>- Подвижные формы: фосфор, калий, сера, марганец, медь, кобальт, цинк, бор, молибден, железо</li>
                <li>- Обменный кальций, магний, аммоний, калий натрий, алюминий,</li>
                <li>- Ионы карбоната, бикарбоната, хлорида, сульфата</li>
                <li>- Фтор подвижный (водорастворимый) и валовый</li>
                <li>- Подвижные формы тяжелых металлов: медь, свинец, цинк, кадмий, железо, марганец, никель</li>
                <li>- Валовые формы тяжелых металлов: ртуть, кобальт, никель, хром, железо, марганец, медь, свинец, цинк, кадмий, мышьяк</li>
                <li>- Радионуклиды: мощность экспозиционной дозы гамма-излучения; Удельная активность: радия-226, тория-232, калия-40, цезия-137, стронция-90</li>
                <li>- Бенз(а)пирен</li>
                <li>- Нефтепродукты</li>
                <li>- Пестициды: хлорорганические; 2,4 Д; группы симм-триазинов; фосфорорганические; группы карбоновых кислот. Пестициды по действующему веществу: Тербуконазол, Дикамба, Прометрин, Дельтаметрин, Симазин, Ацетохлор-ацетил, Базагран, Имидоклоприд</li>
                </ul>
                <p>Грунты</p>
                <ul>
                <li>- рН</li>
                <li>- Массовая доля органического вещества</li>
                <li>- Общая засоленность (сухой остаток)</li>
                <li>- Емкость катионного обмена</li>
                <li>- Водорастворимые: фосфор, калий, натрий, кальций, магний</li>
                <li>- Нитратный и аммонийный азот</li>
                <li>- Хлориды</li>
                <li>- Подвижные формы микроэлементов: марганец, медь, кобальт, бор, молибден, цинк, сера</li>
                <li>- Подвижные формы тяжелых металлов: медь, свинец, цинк, кадмий, железо, марганец, кобальт</li>
                <li>- Фтор подвижный(водорастворимый) и валовый</li>
                <li>- Радионуклиды: мощность экспозиционной дозы гамма-излучения; Удельная активность: цезия-137, стронция-90</li>
                <li>- Бенз(а)пирен</li>
                <li>- Нефтепродукты</li>
                <li>- Пестициды: хлорорганические; 2,4 Д; группы симм-триазинов; фосфорорганические; группы карбоновых кислот</li>
                </ul>
                <p>Биологические объекты животного и растительного происхождения</p>
                <ul>
                <li>- Радионуклиды: Удельная активность: цезия-137, стронция-90</li>
                </ul>
                <p>Строительные материалы</p>
                <ul>
                <li>- Радионуклиды: Удельная активность: цезия-137, стронция-90</li>
                </ul>
                <p>Также производим отбор проб почвы и грунтов.</p>
            </div>
            </div>
{% endblock %}