{% extends 'AgroChemical/layout.html' %}
{% block title %} Безопасность растеневодства {% endblock %}
{% load static %}
{% block content %}

            <div class="row gx-4 gx-lg-5">
            <div class="container px-4 px-lg-5 about">

                <p>
                  В современных условиях, когда в сфере обитания человека постоянно находится множество химических веществ антропогенного
                    происхождения потенциально опасных для здоровья и жизнедеятельности населения,
                    обеспечение экологически безопасными продуктами питания становится актуальной задачей.
                </p>
                <p>В нашей лаборатории Вы можете провести анализы на:</p>
                <ul>

                    <li>- показатели безопасности (нитраты, тяжёлые металлы, остаточное количество пестицидов и др.);</li>
                    <li>- показатели состава и качества (сухое вещество, сахар, крахмал, жиры, азот и др.).</li>

                </ul>

                <p>В зерновых и зернобобовых культурах, зерне фуражном:</p>

                <ul>

                    <li>- сорная примесь</li>
                    <li>- зерновая примесь</li>
                    <li>- вредные примеси</li>
                    <li>- крупная сорная примесь</li>
                    <li>- содержание испорченных и поврежденных зерен</li>
                    <li>- типовой состав зерна</li>
                    <li>- содержание фузариозных зерен</li>
                    <li>- количество и качество сырой клейковины</li>
                    <li>- натура</li>
                    <li>- стекловидность</li>
                    <li>- кислотность</li>
                    <li>- зараженность зерна вредителями</li>
                    <li>- массовая доля жира</li>
                    <li>- токсичные элементы (кадмий, свинец, мышьяк, ртуть)</li>
                    <li>- микотоксины (зеараленон, Т-2 токсин, афлатоксин В1, дезоксиниваленол</li>
                    <li>- пестициды (хлорорганические; 2,4 Д и ее соли; ртутьорганические; фосфорорганические, симм-триазины)</li>
                    <li>- радионуклиды (удельная активность: цезия-137, стронция-90)</li>

                </ul>

                <p>В масличных культурах:</p>

                <ul>
                    <li>- масличность</li>
                    <li>- лузжистость</li>
                    <li>- кислотное число масла</li>
                    <li>- токсичные элементы (кадмий, свинец, мышьяк, ртуть)</li>
                    <li>- микотоксины (зеараленон, Т-2 токсин, афлатоксин В1, дезоксиниваленол)</li>
                    <li>- пестициды (хлорорганические; 2,4 Д и ее соли; ртутьорганические; фосфорорганические, симм-триазины)</li>
                    <li>- радионуклиды (удельная активность: цезия-137, стронция-90)</li>

                </ul>

                <p>В арахисе, клубнеплодные, овощные, бахчевые культуры и продукции закрытого грунта,
                    продукция садов, виноградников, орехоплодных культурах:</p>

                <ul>


                    <li>- токсичные элементы (кадмий, свинец, мышьяк, ртуть)</li>
                    <li>- микотоксин (афлатоксин В1)</li>
                    <li>- нитраты</li>
                    <li>- марганец</li>
                    <li>- медь</li>
                    <li>- цинк</li>
                    <li>- железо</li>
                    <li>- кобальт</li>
                    <li>- нитраты</li>
                    <li>- нитриты</li>
                    <li>- кадмий</li>
                    <li>- свинец</li>
                    <li>- медь</li>
                    <li>- цинк</li>
                    <li>- железо</li>
                    <li>- мышьяк</li>
                    <li>- ртуть</li>
                    <li>- фтор</li>
                    <li>- пестициды (хлорорганические; 2,4 Д и ее соли; ртутьорганические; фосфорорганические, симм-триазины)</li>
                    <li>- радионуклиды (удельная активность: цезия-137, стронция-90)</li>
                </ul>
                <p>Таже проводится отбор проб сельскохозяйственной и пищевой продукции:</p>

                <ul>


                    <li>- зерновыех и зернобобовых культур</li>
                    <li>- зернобобовых культур основных</li>
                    <li>- зерна фуражного</li>
                    <li>- масличных культур</li>
                    <li>- арахиса</li>
                    <li>- клубнеплодных, овощных, бахчевых культур и продукции закрытого грунта</li>
                    <li>- продукции садов, виноградников</li>
                    <li>- орехоплодных культур</li>


                </ul>
            </div>
            </div>
{% endblock %}